version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: satellite-proxy
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

  backend:
    build: ./backend
    container_name: satellite-backend

  frontend:
    build: ./satellite-image-ui
    container_name: satellite-frontend
    environment:
      - WDS_SOCKET_PORT=0 